* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.2rem;
  font-family: Lato, Verdana, sans-serif;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.wrapper {
  box-sizing: border-box;
  max-width: 1020px;
  margin: auto;
}

/* header ***************************************************/

.header {
  position: relative;

  font-weight: 700;

  background: #2d303a;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 40px 41px;
}

.logo {
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}

.logo span {
  color: red;
}

.navigation {
  display: flex;
}

.navigation__link {
  position: relative;

  margin: 10px 0 0 29px;

  line-height: 9px;

  cursor: pointer;
}

.navigation__link:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -15px;

  width: 2px;
  height: 2px;

  background-color: #494e62;
  border-radius: 50%;
  cursor: auto;
}

.navigation__link a {
  color: #ffffff;
}

.navigation__link_active a {
  color: red;
}

.navigation__link a:hover {
  color: gray;
}

/* slider ***************************************************/

.slider {
  position: relative;

  height: 600px;

  background: #f06c64;
}

.slider::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 6px;

  background-color: #ea676b;
}

.slider__wrapper,
.slider__content {
  position: relative;
}

.slider__button {
  position: absolute;
  top: 280px;

  width: 16px;
  height: 27px;

  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.slider__button_left {
  left: 40px;

  background: url(./assets/images/button-left.png);
}

.slider__button_right {
  right: 40px;

  background: url(./assets/images/button-right.png);
}

.phone {
  position: absolute;
}

.phone__vertical {
  top: 53px;
  left: 110px;
}

.phone__horizontal {
  top: 173px;
  left: 424px;
}
